*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(232, 227, 227);
}
.container1{
    width: 100%;
    height:30px;
    background-color: rgb(205, 189, 169);
    text-align: center;
    text-decoration: wavy;
}
/* container2 */
.container2 {
    position: relative;
    background-color: rgba(60,20,10,255); 
    width: 100%;
    height: 70vh;
}
.c2div{
    position: absolute;
    top: 25vh;
    left:60vw;
    z-index:0;
    width: 30vw;
    color: aliceblue;
}
.c2div h1{
    font-size: 60px;
}


.container2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(60,20,10,1), rgba(0, 0, 0, 0.5)); 
}

.container2 img {
    width: 40vw;
    height: 100%;
    position: relative;
    z-index: 0; 
}
/* container3 */
.container3{
    width: 100%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
}
.c3div1{
    margin-left: 20px;
    margin-top: 40px;
    width:45vw;
    text-align: justify;
}
.c3div2{
    margin-left: 40px;
    margin-top: 40px;
    width:45vw;
    text-align: justify;
}
.container4{
    padding-top: 20px;
    width:100%;
    height:100vh;
    text-align: center;
    background-color: rgba(60,20,10,255);
}
.container4 h1{
    margin-bottom: 30px;
    color: white;
}
.container41{
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.c4divs1{
    width:30vw;
    background-color: white;
    height:80vh;
    
}
.c4div1child{
width:10vw;
height:20vh;
/* background-color: beige; */
margin-top: 15vh;
border-radius: 100%;
margin-left: 10vw;
}
.c4divs1 h3{
    margin-top: 10vh;
}
.c4div1child img{
    width:100%;
    height: 100%;
    border-radius: 100%;
}
.container5{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10vw;
    background-color: rgba(240,240,240,255);
}
.c5divs1 img{
    margin-top: 30px;
    width:10vw;
    margin-bottom: 30px;
}
.c5divs2 img{
    margin-top: 30px;
    width:8vw;
    margin-bottom: 30px;
}
.c5divs3 img{
    margin-top: 30px;
    width:12vw;
    margin-bottom: 30px;
}
.c5divs4 img{
    margin-top: 30px;
    width:12vw;
    margin-bottom: 30px;
}
.footer{
    width:100%;
    height:auto;
    background-color: rgba(23,22,21,255);
    display: flex;
    flex-wrap: wrap;
}
.ftr1{
    width:35vw;
    height:50vh;
    background-color: aqua;
}
.ftr1 img{
    height:100%;
    width:100%;
}
.ftr2{
    background-color: rgba(23,22,21,255);
    color: white;
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 30px);
    padding-left: 40px;
    padding-top: 30px;
    font-size: 15px;
}
.ftr3{
    color: WHITE;
    margin-top: 30px;
    font-size: 13px;
}
.ftr3c2{
    margin-top: 30px;
    font-size: 13px;
}
.ftr3c2 img{
    width:20px;
}
.ftr3c3{
    margin-top: 10px;
    font-size: 13px;
}
.ftr3c3 img{
    width:20px;
}
.ftr3c4{
    margin-top: 10px;
    font-size: 13px;
}
.ftr3c4 img{
    width:20px;
}
@media  (max-width:467px){
    .container2 {
        height: 30vh;
    }
    .c2div{
        top: 0vh;
        left: 60vw;
        font-size: 12px;
    }
    .c2div h1{
        font-size: 40px;
    }
    .container2 img {
        width: 50vw;
    }
    .c3div1{
        width:90%;
    }
    .c3div2{
        margin-left: 20px;
        width:90%;
    }
    .container4{
        width:100%;
        height:auto;
    }
    .c4divs1{
        width:90%;
        height:80vh
    }
    .c4div1child{
        min-width:40vw;
        min-height:20vh;
        /* background-color: beige; */
        margin-top: 15vh;
        border-radius: 100%;
        margin-left: 25vw;
        }
        .ftr1{
            width:100%;
            height:50vh;
        }
        .ftr2{
            width:100%;
            /* text-align: center; */
        }
        .ftr3{
            width:100%;
            margin-left: 10vw;
            
        }
}
@media(min-width:469px) and (max-width:667px){
    .container2 {
        height: 50vh;
    }
    .c2div{
        top: 15vh;
        left: 60vw;
        font-size: 12px;
    }
    .c2div h1{
        font-size: 40px;
    }
    .container2 img {
        width: 50vw;
    }
    .c3div1{
        width:90%;
    }
    .c3div2{
        margin-left: 20px;
        width:90%;
    }
    .container4{
        width:100%;
        height:auto;
    }
    .c4divs1{
        width:90%;
        height:70vh
    }
    .c4div1child{
        min-width:30vw;
        min-height:20vh;
        /* background-color: beige; */
        margin-top: 15vh;
        border-radius: 100%;
        margin-left: 30vw;
        }
        .ftr1{
            width:100%;
            height:50vh;
        }
        .ftr2{
            width:100%;
            /* text-align: center; */
        }
        .ftr3{
            width:100%;
            margin-left: 10vw;
            
        }
}

@media(min-width:669px) and (max-width:1096px){
    .container2 {
        height: 70vh;
    }
    .c2div{
        top: 25vh;
        left: 60vw;
        font-size: 12px;
    }
    .c2div h1{
        font-size: 40px;
    }
    .container2 img {
        width: 50vw;
    }
    .c4divs1{
        /* width:90%; */
        height:90vh
    }
    .container4{
        width:100%;
        height:auto;
    }
    .ftr1{
        width:48%;
        height:50vh;
    }
    .ftr2{
        width:48%;
        /* text-align: center; */
        
    }
    .ftr3{
        width:100%;
        margin-left: 10vw;
        text-align: center;
    }
}