*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(232, 227, 227);
}
.container1{
    width: 100%;
    height:30px;
    background-color: rgb(205, 189, 169);
    text-align: center;
    text-decoration: wavy;
}
.conatiner2{
    height:75vh;
    width: 100%;
    background-color: rgba(60,20,10,255);
    position: relative;
}
.c2img{
    width: 40%;
    height: 100%;
    margin-left: 5vw;;
}
.c2div{
position: absolute;
top:4vh;
left:60vw;
color: white;
}

.c2div p{
    font-size: 60px;
    margin-left: 40px;
}
.c2div h3{
    font-size: 50px;
    margin-left: 40px;
}
ul{
    list-style-type: none;
}
li{
    margin-top: 20px;
}
.c2div button{
    height: 40px;
    width:20vw;
    color: grey;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
}
/* container3 */
.container3{
    height:auto;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    gap:20px;
    margin-top: 50px;
    /* margin-left: 10px; */
    /* background-color:aliceblue; */
}
.c3child{
    background-color: aqua;
    min-width: 13vw;
    max-height:13vw;
    margin-bottom: 70px;
    border-radius: 360px;
    text-align: center;
}
.c3child img{
    width: 100%;
    height: 100%;
    border-radius: 360px;
}
.container3::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(145, 142, 142);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(54, 54, 54);
  }
  /* container4 */
  .container4{
    margin-top: 8vh;
    text-align: center;
    color: grey;
    margin-bottom: 5vh;
  }
/* container5 */
.container5{
height:auto;
width:100%;
display: flex;
gap:30px;
flex-wrap: wrap;
margin-top: 40px;
/* margin-left: 20px; */
}
.c5child{
    /* background-color: aqua; */
    height: 70vh;
    min-width:21vw;
    max-width: 21vw;
    margin-left: 20px;
    margin-bottom: 20px;
}
.c5child1{
    background-color: aquamarine;
    height:45vh;
}
.c5child1 img{
    width:100%;
    height: 100%;
}
.c5child2{
    display: flex;
    margin-top: 20px;
}
.c5d2{
    /* width:19vw; */
    color: grey;
    font-size: 15px;
}
.c5d3{
    width:30px;
    /* background-color: aqua; */
}
.c5d3 img{
    margin-top: 8px;
    width:20px; 
}
.c5child3{
    margin-top: 20px;
}
.c5d5{
    margin-top: 10px;
}
.c5d5 button{
    width:8vw;
    height: 40px;
    border: 1px solid rgb(62, 62, 62);
    background-color: rgb(232, 228, 228);
    color: grey;
    transition: 1s;
}
.c5d5 button:hover{
    background-color: black;
    color: white;
}
/* container6 */
.container6{
margin-top: 50px;
height: auto;
width: 100%;
}
.c6child1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c6child1 button{
    width:20vw;
    height: 40px;
    border: 1px solid rgb(62, 62, 62);
    background-color: rgb(232, 228, 228);
    color: grey;
    transition: 1s;
    margin-bottom: 20PX;
}
.c6child1 button:hover{
    background-color: black;
    color: white;
}
.c6child2{
    margin-top: 50px;
    text-align: center;
    color: grey;
}
.footer{
    width:100%;
    height:auto;
    background-color: rgba(23,22,21,255);
    display: flex;
    flex-wrap: wrap;
}
.ftr1{
    width:35vw;
    height:50vh;
    background-color: aqua;
}
.ftr1 img{
    height:100%;
    width:100%;
}
.ftr2{
    background-color: rgba(23,22,21,255);
    color: white;
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 30px);
    padding-left: 40px;
    padding-top: 30px;
    font-size: 15px;
}
.ftr3{
    color: WHITE;
    margin-top: 30px;
    font-size: 13px;
}
.ftr3c2{
    margin-top: 30px;
    font-size: 13px;
}
.ftr3c2 img{
    width:20px;
}
.ftr3c3{
    margin-top: 10px;
    font-size: 13px;
}
.ftr3c3 img{
    width:20px;
}
.ftr3c4{
    margin-top: 10px;
    font-size: 13px;
}
.ftr3c4 img{
    width:20px;
}
@media  (max-width:467px){
    .conatiner2{
        height:33vh;
    }
    .c2div{
        top:0vh;
        left:40vw;
        }
    .c2div p{
        font-size: 15px;
    }
    .c2div h3{
        font-size: 15px;
    }
    .c2div img{
        width:60%;
        margin-left: 8vw;
       }
       .c2div button{
        height: 30px;
        width:40vw;
    }
    .container3{
        gap:40px
    }
    .c3child{
        margin-bottom: 30px;
    }
    .container5{
        gap:10px;
        justify-content: center;
        align-items: center;
        }
    .c5child1{
        height:20vh;
    }
    .c5child{
        min-width:40vw;
        max-width: 23vw;
        height:50vh;
    }
    .c5d5 button{
        width:20vw;
        height: 8vh;
    }
    .c6child1 button{
        width:70vw;
    }
    .container6{
        margin-top: 0px;
        }
        .ftr1{
            width:100%;
            height:50vh;
        }
        .ftr2{
            width:100%;
            /* text-align: center; */
        }
        .ftr3{
            width:100%;
            margin-left: 10vw;
            
        }
}
@media(min-width:469px) and (max-width:667px){
    .conatiner2{
        height:35vh;
    }
    .c2div{
        top:0vh;
        left:40vw;
        }
    .c2div p{
        font-size: 15px;
    }
    .c2div h3{
        font-size: 15px;
    }
    .c2div img{
        width:60%;
        margin-left: 8vw;
       }
       .c2div button{
        height: 30px;
        width:40vw;
    }
    .container5{
        gap:10px;
        justify-content: center;
        align-items: center;
        }
    .c5child1{
        height:30vh;
    }
    .c5child{
        min-width:23vw;
        max-width: 23vw;
        height:70vh;
    }
    .c5d5 button{
        width:20vw;
        height: 8vh;
    }
    .c6child1 button{
        width:50vw;
    }
    .ftr1{
        width:100%;
        height:50vh;
    }
    .ftr2{
        width:100%;
        /* text-align: center; */
    }
    .ftr3{
        width:100%;
        margin-left: 10vw;
        
    }

}
@media(min-width:669px) and (max-width:1096px){
    .conatiner2{
        height:60vh;
    }
    .c2div{
        top:5vh;
        left:50vw;
        }
    .c2div p{
        font-size: 35px;
    }
    .c2img{
        margin-left: 40px;
    }
    .c2div h3{
        font-size: 35px;
    }
    .c2div img{
        width:90%;
        margin-left: 1vw;
       }
       .c2div button{
        height: 30px;
        width:20vw;
    }
    .container5{
        gap:10px;
        justify-content: center;
        align-items: center;
        }
    .c5child1{
        height:40vh;
    }
    .c5child{
        min-width:25vw;
        max-width: 25vw;
    }
    .c5d5 button{
        width:20vw;
        height: 8vh;
    }
    .c5d5 button{
        width:20vw;
        height: 8vh;
    }
    .c6child1 button{
        width:40vw;
    }
    .ftr1{
        width:48%;
        height:50vh;
    }
    .ftr2{
        width:48%;
        /* text-align: center; */
        
    }
    .ftr3{
        width:100%;
        margin-left: 10vw;
        text-align: center;
    }
}